/* <<< Page Global >>> */
.heading { text-align: center; }
.same-heading { font-size: 21px; color: #000; margin: 0; padding-bottom: 20px; text-transform: capitalize; font-weight: 500; }

/* <<< Banner >>> */
.Banner_section { width: 100%; }


/* <<< Category >>> */
.Category_section { width: 100%; padding: 50px 0 20px; }
.Category_section img { border-radius: 50% ; }
.Category_section .item { text-align: center; }
.Category_section a { display: inline-block; border-radius: 50%; margin-bottom: 5px; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; } 
.Category_section span { font-size: 14px; display: block; }
.Category_section span a { box-shadow: none; border-radius: 0; margin-bottom: 0; color: #000; }


/* <<< Popular Post >>> */
.Popular_post { padding-bottom: 50px; }
.Popular_post img { border-radius: 10px; }
.Popular_post h2 { text-align: center; padding-bottom: 30px; }
.Popular_post .inner { position: relative; }
.Popular_post .text { width: 100%; height: 100%; position: absolute; top: 0; left: 0;border-radius: 10px; background: url(../images/shadow.png) bottom center no-repeat; background-size: 100%; color: #fff; } 
.Popular_post .text-inner { position: absolute; bottom: 0; left: 0; padding: 0 0 40px 40px; } 
.Popular_post em { font-size: 12px; font-style: normal; display: flex; align-items: center; letter-spacing: 0.5px; }
.Popular_post em i { font-size: 14px; margin-right: 5px; }
.Popular_post h3 { font-size: 21px; font-weight: 600; color: #fff; margin: 0; padding-top: 10px; letter-spacing: 0.5px; }


/* <<< Recent Post >>> */
.Recent_post .text { padding: 17px 15px 18px 20px; }
.Recent_post .text a { font-size: 15px; color: #000; display: inline-block; font-weight: 600; line-height: 20px; }
.Recent_post .item { padding-bottom: 10px; }
.Recent_post .image { overflow: hidden; border-radius: 10px 10px 0 0; }
.Recent_post .item:hover img { transform: scale(1.2); }
.Recent_post img { border-radius: 10px 10px 0 0; transition: .8s all ease-in-out; }
.Recent_post .inner { box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; border-radius: 10px; background: #fff; }
.Recent_post em { font-size: 12px; font-style: normal; display: flex; align-items: center; letter-spacing: 0.5px; color: #000; padding-top: 2px; display: inline-block; }
.Recent_post em i { font-size: 14px; margin-right: 5px; }
.Recent_post .owl-stage { padding-left: 0 !important; }


/* <<< Single Banner >>> */
.Single_banner { width: 100%; padding: 40px 0; }
.Single_banner img { width: 100%; border-radius: 10px; }
.Single_banner.Single_banner_mobile { display: none; }

/* <<< Lifestyle >>> */
.Lifestyle { padding-top: 40px; }

/* <<< Recipes >>> */
.Recipes { padding: 40px 0 50px; background: #fffef2; }

/* <<< Videos >>> */
.Videos { background: #f1feff; }
.Videos a { color: #fff !important; }
.Videos em { padding: 0 0 3px; color: #fff; font-weight: 400; width: 100%; }
.Videos .image img { width: 100% !important; transition: none !important; border-radius: 10px; }
.Videos em img { width: auto !important; margin-right: 3px; border-radius: 0; display: inline-block !important; }
.Videos .item:hover img { transform: none !important; }
.Videos .inner { position: relative; }
.Videos .text { position: absolute; bottom: 0; left: 0; background: url(../images/video-shadow.png) bottom center no-repeat; background-size: 100%; border-radius: 10px; font-weight: 400; width: 100%; height: 100%; }
.Videos .play-btn { position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: flex; align-items: center; }
.Videos .play-btn-mid { margin: 0 auto; }
.Videos .overlay { position: absolute; bottom: 18px; }


/* <<< Nutrition >>> */
.Nutrition ul { list-style: none; margin-bottom: 0; }
.Nutrition li { margin-top: 0; margin-bottom: 30px; }
.Nutrition img { width: 100%; transition: .8s all ease-in-out; }
.Nutrition .inner:hover img { transform: scale(1.2); }


.bg_color .Single_banner { padding-top: 20px; }
.bg_color { padding-top: 30px; background-image: linear-gradient(to bottom, #fafafa, #fbfbfb, #fcfdfc, #fefefe, #ffffff); }
.listing_recent_post { padding-bottom: 40px; }


/*   RESPONSIVE MEDIA CSS  */
@media only screen and (min-width: 1366px) and (max-width: 1440px){



}


@media only screen and (min-width: 1221px) and (max-width: 1365px) {


}


/* Custom */
@media only screen and (min-width: 1025px) and (max-width: 1220px) {


}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {

.Nutrition li { max-width: 33.33%; flex: initial; }

}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */

@media only screen and (min-width: 500px) and (max-width: 767px) {

 .Category_section { padding-top: 20px; }
 .Category_section a { margin-bottom: 0; }
 .category_slider .owl-stage { padding-left: 5px !important; }
 /*.Recent_post .owl-stage { padding-left: 60px !important; }*/
 .same-heading { font-size: 18px; font-weight: 500; text-transform: uppercase; }
 .Popular_post h2 { padding-bottom: 15px; }
 .same-heading { padding-bottom: 15px; }
 .Popular_post .text-inner { padding: 20px; }
 .Popular_post h3 { font-size: 16px; font-weight: 400; padding-top: 5px; line-height: 20px; }
 .Recent_post .text { padding: 10px 15px 12px; }
 .Recent_post .text a { font-size: 14px; font-weight: 500; line-height: 18px; }

 .Single_banner { display: none !important; padding: 15px 0 20px; }
 .Single_banner_mobile { display: block !important; }

 .Recipes { padding: 30px 0; } 
 .Popular_post  { padding-bottom: 30px; }
 .Lifestyle { padding: 20px 0; }
 .Nutrition ul { padding: 0 10px; }
 .Nutrition li { max-width: 50%; flex: initial; margin-bottom: 10px; padding: 0 5px; }
 .Nutrition li:nth-child(2n+2) { padding-left: 5px; }  

}   


@media only screen and (min-width: 414px) and (max-width: 499px) {
    
    
}

@media only screen and (min-width: 320px) and (max-width: 499px) {

 .Category_section { padding-top: 20px; }
 .Category_section a { margin-bottom: 0; }
 .category_slider .owl-stage { padding-left: 5px !important; }
 .Recent_post .owl-stage { padding-left: 60px !important; }
 .same-heading { font-size: 18px; font-weight: 500; text-transform: uppercase; }
 .Popular_post h2 { padding-bottom: 15px; }
 .same-heading { padding-bottom: 15px; }
 .Popular_post .text-inner { padding: 20px; }
 .Popular_post h3 { font-size: 16px; font-weight: 400; padding-top: 5px; line-height: 20px; }
 .Recent_post .text { padding: 10px 15px 12px; }
 .Recent_post .text a { font-size: 14px; font-weight: 500; line-height: 18px; }

 .Single_banner { display: none !important; padding: 15px 0 30px; }
 .Single_banner_mobile { display: block !important; }

 .Recipes { padding: 30px 0; }

  /* Listing Css */
 .Popular_post  { padding-bottom: 30px; }
 .Lifestyle { padding: 20px 0; }
 .Nutrition ul { padding: 0 10px; }
 .Nutrition li { max-width: 50%; flex: initial; margin-bottom: 10px; padding: 0 5px; }
 .Nutrition li:nth-child(2n+2) { padding-left: 5px; } 

}






