
/*   RESPONSIVE MEDIA CSS  */
@media only screen and (max-width: 1880px) {


}



@media only screen and (max-width: 1730px) {


}


@media only screen and (max-width: 1620px) {		


}


@media only screen and (min-width: 1366px) and (max-width: 1440px){



}


@media only screen and (min-width: 1221px) and (max-width: 1365px) {


}


/* Custom */

@media only screen and (min-width: 1025px) and (max-width: 1220px) {


}

/* Tablet Portrait size to standard 960 (devices and browsers) */

@media only screen and (min-width: 768px) and (max-width: 1024px) {



}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */

@media only screen and (min-width: 500px) and (max-width: 767px) {


}	

@media only screen and (min-width: 320px) and (max-width: 499px) {



}

@media only screen and (min-width: 414px) and (max-width: 499px) {
	
	
}